.conda/
src/__pycache__/
src/parameter_optimizer2/__pycache__/
src/parameter_optimizing/__pycache__/
texmex/master.aux
texmex/master.bcf
texmex/master.log
texmex/master.out
texmex/master.run.xml
texmex/master.synctex.gz
texmex/Solen_av_Edvard_Munch.jpg
texmex/uio-fp-navn-bm.png 
texmex/uio-fp-navn-eng.eps  
texmex/uio-fp-navn-eng.pdf
texmex/uio-fp-navn-nn.png
texmex/uio-fp-segl.eps
texmex/uio-fp-segl.pdf
texmex/uiomasterfp-guide.pdf
texmex/uiomasterfp.sty 
texmex/uiomasterfp.zip 
