# Python cache
__pycache__/
*.pyc

# Conda environment folders
.conda/
*.conda/

# LaTeX build files
texmex/*.aux
texmex/*.bcf
texmex/*.log
texmex/*.out
texmex/*.run.xml
texmex/*.synctex.gz

# Large static images / assets
texmex/Solen_av_Edvard_Munch.jpg
texmex/uio-fp-navn-bm.png
texmex/uio-fp-navn-eng.eps
texmex/uio-fp-navn-eng.pdf
texmex/uio-fp-navn-nn.png
texmex/uio-fp-segl.eps
texmex/uio-fp-segl.pdf
texmex/uiomasterfp-guide.pdf
texmex/uiomasterfp.sty
texmex/uiomasterfp.zip
